@import '~src/scss/variables';
@import '~src/scss/mixins';

.about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: $xl;
}

.about__content {
	padding: $m;
}

.about__title {
	margin-top: $l;
	margin-bottom: $l;
	letter-spacing: $xs;
	font-weight: 700;
}

.about__description {
	color: $dark-gray;
	text-align: justify;
}

.about__img {
	object-fit: cover;
}

@include sm {
	.about {
		flex-direction: row;
		margin-top: 0;
	}

	.about__img {
		max-width: 33.33%;
	}

	.about__content {
		max-width: 33.33%;
	}
}
