<section class="about">
	<img src="assets/image-about-dark.jpg" alt="about us" />
	<section class="about__content">
		<h4 class="about__title">ABOUT OUR FURNITURE</h4>
		<p class="about__description">
			Our multifunctional collection blends design and function to suit your
			individual taste. Make each room unique, or pick a cohesive theme that
			best expresses your interests and what inspires you. Find the furniture
			pieces you need, from traditional to contemporary styles or anything in
			between. Product specialists are available to help you create your dream
			space.
		</p>
	</section>
	<img src="assets/image-about-light.jpg" alt="about us" />
</section>
