@import '~src/scss/variables';
@import '~src/scss/mixins';

.about {
	display: flex;
	flex-direction: column;
	margin-top: $xl;
}

.about__content {
	padding: $m;
}

.about__title {
	margin-top: $l;
	margin-bottom: $l;
	letter-spacing: $xs;
	font-weight: 600;
}

.about__description {
	color: $dark-gray;
}

@include gt-mobile {
	.about {
		flex-direction: row;
		margin-top: 0;
	}
}
