<nav class="navbar" #mobileNav>
	<div class="navbar__container">
		<div class="navbar__logo-container">
			<img src="assets/logo.svg" alt="room" />
			<div class="navbar__burger-container">
				<button class="navbar__burger" (click)="onClickBurger()">
					<img src="assets/icon-hamburger.svg" alt="menu" />
				</button>
			</div>
		</div>
	</div>

	<ng-template #mobileMenu>
		<div
			class="navbar__backdrop"
			(click)="onClickBackdrop($event)"
			[@fadeIn]="showMobileMenu ? 'loaded' : 'void'"
		>
			<div class="navbar__mobile-menu">
				<div class="navbar__mobile-container">
					<button class="navbar__close" (click)="onClickClose()">
						<img src="assets/icon-close.svg" alt="close menu" />
					</button>

					<ul class="navbar__mobile-items">
						<li class="navbar__item">
							<a href="#">home</a>
						</li>
						<li class="navbar__item">
							<a href="#">shop</a>
						</li>
						<li class="navbar__item">
							<a href="#">about</a>
						</li>
						<li class="navbar__item">
							<a href="#">contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</ng-template>
</nav>

<nav class="desktop-nav" #desktopNav>
	<div class="desktop-nav__logo">
		<img src="assets/logo.svg" alt="room" />
	</div>

	<ul class="desktop-nav__items">
		<li class="desktop-nav__item">
			<a href="#">home</a>
		</li>
		<li class="desktop-nav__item">
			<a href="#">shop</a>
		</li>
		<li class="desktop-nav__item">
			<a href="#">about</a>
		</li>
		<li class="desktop-nav__item">
			<a href="#">contact</a>
		</li>
	</ul>
</nav>
