@import '~src/scss/variables';

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.navbar__container {
	padding: $l $m;
}

.navbar__logo-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.navbar__burger-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar__burger,
.navbar__close {
	background-color: transparent;
	border: none;

	&:active,
	&:focus {
		outline: none;
		border: none;
	}
}

.navbar__mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	background-color: $white;
}

.navbar__mobile-container {
	padding: $xl $m;
	display: flex;
	justify-content: space-between;
}

.navbar__mobile-items {
	display: flex;
	justify-content: space-between;
}

.navbar__item {
	font-weight: 700;
	color: $black;
	margin-left: $m;

	& a {
		color: inherit;
	}
}
