@import '~src/scss/variables';
@import '~src/scss/mixins';

.hero__container {
	display: flex;
	flex-direction: column;
}

.hero__image-container {
	position: relative;
}

.hero__controls {
	position: absolute;
	bottom: 0;
	right: 0;
}

.hero__content {
	padding: $m;
}

.hero__shop-link {
	margin-top: $xl;
	letter-spacing: $xs;
	color: $black;
	display: inline-block;

	& img {
		display: inline-block;
		margin-left: $l;
	}
}

@include gt-mobile {
	.hero__container {
		flex-direction: row;
	}

	.hero__controls {
		left: 100%;
	}
}
