<section class="hero">
	<section class="hero__container">
		<section class="hero__image-container">
			<picture
				app-hero-image
				[defaultImg]="heroItems[currentIndex].defaultImg"
				[desktopImg]="heroItems[currentIndex].desktopImg"
				(imageLoading)="onImageLoading($event)"
			></picture>
			<app-hero-controls
				class="hero__controls"
				(navigateLeft)="onNavigateLeft()"
				(navigateRight)="onNavigateRight()"
				[disableLeft]="currentIndex === 0 || imageLoading"
				[disableRight]="currentIndex === heroItems.length - 1 || imageLoading"
			></app-hero-controls>
		</section>
		<section class="hero__content">
			<section app-hero-item>
				<h2
					class="hero__title"
					[@fadeInOut]="imageLoading ? 'loading' : 'loaded'"
				>
					{{ heroItems[currentIndex].title }}
				</h2>
				<p
					class="hero__description"
					[@fadeInOut]="imageLoading ? 'loading' : 'loaded'"
				>
					{{ heroItems[currentIndex].description }}
				</p>
			</section>
			<a
				class="hero__shop-link"
				href="#"
				[@fadeInOut]="imageLoading ? 'loading' : 'loaded'"
			>
				<span>SHOP NOW</span>
				<img src="assets/icon-arrow.svg" alt="Go" />
			</a>
		</section>
	</section>
</section>
<app-about></app-about>
