@import '~src/scss/mixins';

.hero__container {
	display: flex;
	flex-direction: column;
}

.hero__image-container {
	position: relative;
}

.hero__controls {
	position: absolute;
	bottom: 0;
	right: 0;
}

@include gt-mobile {
	.hero__container {
		flex-direction: row;
	}
}
