@import '~src/scss/variables';

.hero__button {
	padding: $m;
	background-color: $black;
	color: $white;
	height: $xxl;
	width: $xxl;
	outline: none;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s;
}

.hero__button:hover,
.hero__button:active {
	background-color: $very-dark-gray;
}
