@font-face {
	font-family: 'Spartan';
	src: url('~src/assets/fonts/Spartan-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Spartan';
	src: url('~src/assets/fonts/Spartan-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Spartan';
	src: url('~src/assets/fonts/Spartan-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
