@import 'variables';

// Font size
.text-l,
.h2,
.title {
	font-size: $l;
}

.text-s,
.text,
.text-normal {
	font-size: $s;
}

// Padding
.p-m {
	padding: $m;
}

// Margin
.mt-m {
	margin-top: $m;
}

.mb-m {
	margin-bottom: $m;
}
