@import 'typography';
@import 'reset';
@import 'variables';
@import 'utilities';

body {
	font-family: 'Spartan', 'Segoe UI';
	font-weight: 500;
	font-size: 0.75rem;
	color: $dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: $black;
}

p {
	line-height: 2;
}

a {
	text-decoration: none;
}
